body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  background-color: #222;
  color: #fff;
}
.input__text{
  padding: 0.5em;
  outline: none;
  border:none;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 20px;
  color: #222;
}